textarea {
    min-height: 400px;
}



#mail-view {
    position: static;
    width: 1000px;
    height: 200px;

}

#mail-view-style {
    position: relative;
    border: 1px solid blue;
    width: 80%;
    height: 100%;
    padding: 10px;

}

#archiveBtn {
    display:flex;
    align-self: flex-end;
    order: 1;
}

#replyBtn {
    position: absolute;
    bottom: 0;
    right: 15px;
    margin: 15px;



}